<div>
    <p>Auth</p>
    <p><a routerLink="/home" routerLinkActive="active">Home</a></p>
    @if (loading) {
        <div>
            <p>Loading</p>
        </div>
    }
    @if (!loading) {
        @if (formType === 'register') {
            <div>
                <p>Register</p>
            </div>
            <div>
                <button (click)="handleFormTypeChange('login')">Sign-In</button>
            </div>
        }
        @else if (formType === 'login') {
                <div>
                    <button (click)="handleFormTypeChange('register')">Register</button>
                </div>
                <div>
                    <p>Sign-In</p>
                </div>
        } @else {
            <div>
                <p>This should not be displayed.</p>
            </div>
            <div>
                <button (click)="handleFormTypeChange('register')">Register</button>
            </div>
            <div>
                <button (click)="handleFormTypeChange('login')">Sign-In</button>
            </div>
        }
        
        
    }

    @if (formType === 'register' && !loading) {
        <div>
            <p>Register Form</p>
            <form [formGroup]="registerForm" (ngSubmit)="handleFormSubmit()">
                <div>
                    <label>Username</label>
                    <input type="text" placeholder="Username" formControlName="username">
                    @if (usernameError) {
                        <div>{{usernameError}}</div>
                    }
                </div>
                <div>
                    <label>Password</label>
                    <input type="{{passwordVisibility}}" placeholder="Password" formControlName="password">
                </div>
                <div>
                    <input type="checkbox" (click)="updatePasswordVisibility()">
                </div>
                <div>
                    <input type="submit" value="Register" [disabled]="!registerForm.valid">
                </div>
            </form>
        </div>
    }

    @else if (formType === 'login' && !loading) {
        <div>
            <p>Login Form</p>
            <form [formGroup]="loginForm" (ngSubmit)="handleFormSubmit()">
                <div>
                    <label>Username</label>
                    <input type="text" placeholder="Username" formControlName="username">
                    @if (usernameError) {
                        <div>{{usernameError}}</div>
                    }
                </div>
                <div>
                    <label>Password</label>
                    <input type="{{passwordVisibility}}" placeholder="Password" formControlName="password">
                </div>
                <div>
                    <input type="checkbox" (click)="updatePasswordVisibility()">
                </div>
                <div>
                    <input type="submit" value="Sign-In" [disabled]="!loginForm.valid">
                </div>
            </form>
            
        </div>
    }
</div>

<!--
<div>
    <div>
        {this.state.state === 'register' && !this.state.loading && (
        <div>

            <form onSubmit={this.handleFormSubmit}>
            <div>
                <label>email</label>
                <input
                type='text'
                placeholder='yours@example.com'
                value={this.state.formEmail}
                onChange={(e) => { this.handleFormInput('formEmail', e.target.value) }}
                />
            </div>
            <div>
                <label>password</label>
                <input
                type='password'
                placeholder='your password'
                value={this.state.formPassword}
                onChange={(e) => { this.handleFormInput('formPassword', e.target.value) }}
                />
            </div>

            {this.state.formError && (
                <div>{this.state.formError}</div>
            )}

            <input
                type='submit'
                value='Register'
            />

            </form>
        </div>
        )}

        {this.state.state === 'login' && !this.state.loading && (
        <div>

            <form>
            <div>
                <label>email</label>
                <input
                type='text'
                placeholder='yours@example.com'
                value={this.state.formEmail}
                onChange={(e) => { this.handleFormInput('formEmail', e.target.value) }}
                />
            </div>
            <div>
                <label>password</label>
                <input
                type='password'
                placeholder='your password'
                value={this.state.formPassword}
                onChange={(e) => { this.handleFormInput('formPassword', e.target.value) }}
                />
            </div>

            {this.state.formError && (
                <div>{this.state.formError}</div>
            )}

            <input type='submit' value='Sign In' />
            </form>
        </div>
        )}
    </div>
</div>

-->